.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: grey;
  padding: 0 20px;
}

.header h1 {
  color: white;
}

.form-input {
  width: 100%;
  padding: 10px 10px;
}

.form {
  margin-top: 10px;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
